---
layout: default
title: Publications
navbar_title: Publications
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---

{% comment %}
  1. Separate "Under review" publications from those with dates.
{% endcomment %}
{% assign under_review_pubs = site.publications | where: "pub_post", "Under review" | where_exp: "item", "item.date == null" %}
{% assign dated_pubs = site.publications | where_exp: "item", "item.pub_post != 'Under review' or item.date != null" %}
{% assign pubs_by_year = dated_pubs | sort: 'date' | reverse | group_by_exp: 'item', 'item.date | date: "%Y"' %}

<div class="row">
    <!-- Main Content Area -->
    <div class="col-12 col-lg-10">
        <!-- Display "Under review" Publications -->
        {% if under_review_pubs.size > 0 %}
            <h2 class="pt-4" id="under-review">Under review</h2>
            <div class="my-0 p-0 bg-white shadow-sm rounded-sm">
                {% for item in under_review_pubs %}
                    {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
                {% endfor %}
            </div>
        {% endif %}
        
        <!-- Display Publications Grouped by Year -->
        {% for year in pubs_by_year %}
            {% assign num_papers = year.items | size %}
            <h2 class="pt-4" id="year-{{ year.name }}">{{ year.name }}</h2>
            <div class="my-0 p-0 bg-white shadow-sm rounded-sm">
                {% for item in year.items %}
                    {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <!-- Sidebar Navigation -->
    <div class="col-2 d-none d-lg-block">
        <div id="navbar-year" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            <!-- Link to "Under review" Publications -->
            {% if under_review_pubs.size > 0 %}
                <a class="nav-link d-block" href="#under-review">Under review</a>
            {% endif %}
            
            <!-- Links to Each Year -->
            {% for year in pubs_by_year %}
                <a class="nav-link d-block" href="#year-{{ year.name }}">{{ year.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>
